

  /* Affects jumbotron */
.center {

	font-family: 'Abril Fatface';
    margin-top: 10%;
	text-align: left;
	height: 65%;
	background-color: #282828;
	color: #E0E0E0;
	

}

  /* Affects images within jumbotron */
.center img {
	height: 100%;

}
.backgroundGrey  {
    background-image: url("img/backgroundGrey.jpg");
    background-color: #cccccc;
}

.backgroundRed  {
    background-image: url("img/backgroundRed.png");
    background-color: #cccccc;
}
.heading{
	color: #E0E0E0;
margin-top: 2%; 
border-radius: 6px;
text-align: center;
}
.detailText{
font-size: 9px;
font-family: arial;
}
