/* all pages */
/* =================================
   STYLES FROM UHS WEBSITE
   1. Heading font - kepler-std-display
   2. Body font - myriad pro, arial, sans serif
   3. Navbar/side bar Standing heading colors: #3c3c3c;
   4. big page headers color: ;
   4. Small standing heading color: black;
   4. Link heading colors: Visted - #a41e32; normal: #e51937;
   5. All highlight Highlight: background - #5a4f4d; text- #fff;

  ==================================*/

/*TAKEN FROM sfuhs.org*/
element.style {
}
html, body 
{
    border: 0;
    padding: 0;
    margin: 0;
}
body 
{
  -webkit-font-smoothing: antialiased;
    background-color: #ffffff;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0px;
    color: #4f4e4e;
    font: 14px 'Josefin Sans', 'sans-serif';
    line-height: 140%;
    font-weight: 100;
    overflow-x: hidden;
} 
table 
{
  text-align:left;
}
a 
{
  color:#e51937;
} 
a:visited 
{
  color:#a41e32;
} 
a:active 
{
  color:#a41e32;
}
input 
{
  font: 14px 'Josefin Sans', 'sans-serif'; color: #4f4e4e;
} 
select 
{
  font: 14px 'Josefin Sans', 'sans-serif';
} 
textarea 
{
  font: 14px 'Josefin Sans', 'sans-serif'; color: #4f4e4e; resize: none;
} 
.buttons 
{
font: 14px 'Josefin Sans, sans-serif'; color:white; font-weight:bold; background-color:#e51937;
} 
.text_misc, .text_misc td 
{
  line-height: normal;
} .text_misc 
p 
{
  font: 14px 'Josefin Sans', 'sans-serif'; color: #4f4e4e;
  margin-top: 0px;
} 
.hier 
{ 
  font: 10px; color: #0000000; 
}
/* ./TAKEN FROM sfus.org*/

/* all pages */

.page-header
{
  font-family:  'sans-serif';
  color:#e51937; 
}
h1 h2
{
  color:#e51937; 
}
h3 h4 h5 h6
{
  color: #4f4e4e; 
}
.small-heading
{
  font-family: "sans-serif";
  color: #4f4e4e;
}
.large-heading
{
  font-family: "sans-serif";
  color: #e51937;
}
img 
{
    border: 2px solid #989898;
     border-radius: 1px;
}
#header_container
{
  background-image: none;
   background-color: white;
  margin-top: 3%;
}
.breadcrumb
{
  background-image: none; 
  border: 1px solid #989898; 
  color: white;
}
.black_text
{
  color: black;
}

/* navbar */
.navbar-default {
  background-color: #f4f4f4;
  border-color: #f4f4f4;
}
.navbar-default .navbar-brand {
  color: #d60000;
  font-family: "sans-serif";

}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ff0404;
}
.navbar-default .navbar-text {
  color: #d60000;
}
.navbar-default .navbar-nav > li > a {
  color: #4f4e4e;
  font-family: "sans-serif";
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: black;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #4f4e4e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: black;
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ff0404;
  background-color: #f4f4f4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: black;
  background-color: #f4f4f4;
}
.navbar-default .navbar-toggle {
  border-color: #f4f4f4;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #f4f4f4;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #d60000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #d60000;
}
.navbar-default .navbar-link {
  color: #d60000;
}
.navbar-default .navbar-link:hover {
  color: #ff0404;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #d60000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ff0404;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ff0404;
    background-color: #f4f4f4;
  }
}
/* ./navbar */
/* ./all pages */


/* index.php */
.myCarousel
{
  background-image: none; 
  background-color: #303030;
}
#index_slide_1
{
  /* slide needs to be very big: at least 3000 pixels wide */
  /* this image was found on google. It allows for public reuse (without modification) */
  background-image:url('../img/empty.jpg');
  color:red;
}
#index_slide_2
{
  background-image:url('../img/donut_snack_slide.jpg');
}
#index_slide_3
{
  background-image:url('../img/empty.jpg');
}
#index_content_container
{
  margin-top: 1%;

}

#index_content_container > h1
{
  font-family:  'sans-serif';
  color:#e51937; 

}
/* ./index.php */


/*  news.php */
.row 
{
  margin: 0;
}
/*  added these margin settings to balance the articles container in the middle of the page. 
  Previously, it would lean off to the side. */
.articles 
{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 40px;
  margin-left: -14px;
}
.article 
{
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  border-bottom: 1px #e5e5e5 solid;
}
.current .item 
{
  background: rgba(206,220,206,.9);
}
.item 
{
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}
.item .source 
{
  margin-left: 20px;
}
.item .title 
{
  font-weight: bold;
}
.item .pubdate 
{
  margin-right: 20px;
}
.item .pubdate 
{
  text-align: right;  
}
.description 
{
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.description h1 
{
  margin-top: 0px;
  font-size: 23px;
}
/*  ./news.php */ */


/*  discussion.php */
#textarea
{
  /* prevent text area from being expandable with mouse drag */ 
  resize: none;
}
.button-group 
{
  margin-bottom: 20px;
}
.counter 
{
  display: inline;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10px;
}
.posts 
{
  clear: both;
  list-style: none;
  padding-left: 0;
  width: 100%;
}
.posts li 
{
  background-color: #fff;
  color: black;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  min-height: 42px;
}
/*  ./discussion.php */

.club-member-activation-button
{
  margin-top: 4%;
}
table, th, td 
{
    border: 1px solid #404040;
    border-collapse: collapse;
    padding: 5px;
    background-color: white;
}
.navbar-nav a
{
color:red;
}
/* ./my_profile.php */